# -------------------------------------------
# DH Platform Libraries
# -------------------------------------------
cryptography==38.0.4
digitalhub==0.14.6
# -------------------------------------------
# Core Scientific Libraries
# -------------------------------------------
numpy==1.24.4
snaphu==0.4.1
shapely==2.0.7
geopandas==1.0.1
# -------------------------------------------
# Raster and Vector Geospatial Processing
# -------------------------------------------
rasterio==1.4.3

# Rain packages
beautifulsoup4==4.15.0
fiona==1.10.1
joblib==1.6.0
pandas==2.3.3
requests==2.34.2
scipy==1.15.2

# Dev dependency. Purtroppo conda non ha questo concetto
matplotlib==3.10.9