# -------------------------------------------
# DH Platform Libraries
# -------------------------------------------
cryptography==38.0.4
digitalhub==0.11.0
# -------------------------------------------
# Core Scientific Libraries
# -------------------------------------------
numpy==1.24.4
snaphu==0.4.1
# -------------------------------------------
# Raster and Vector Geospatial Processing
# -------------------------------------------
rasterio==1.4.3
